<br />
<table class="table">
  <thead>
  <tr>
    <th>Server</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Core
    </td>
    <td>
      <% if @online[:core] %>
        <span class="green-circle"></span>
      <% else %>
        <span class="red-circle"></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Cloud
    </td>
    <td>
      <% if @online[:cloud] %>
        <span class="green-circle"></span>
      <% else %>
        <span class="red-circle"></span>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>