<%= render "test_case_partial"  do |form| %>
  <div>
    <%= render "all_tags_partial" %>
    <div>
      <%= form.label :tags %><br>
      <%= form.text_field :tags, class: "form-control", id: 'tags_field', value: '' %>
    </div>
  </div>
  <br/>
<% end %>